<h1>{{ i18n 'keyword.title' }}</h1>

<button onclick="createKeyword">Create</button>
<form {{ action 'createKeyword' key on='submit' }}>
 <input type="text" id= key_area>
 <input type="text" id= link_area>

  <button type='submit' class='btn btn-primary'>
    {{ i18n 'submit_label' }}
  </button>
</form>


{{#if keywords}}
<ul>
  {{#each keywords as |keyword|}}
    <li>
      {{ keyword.key }} --> {{ keyword.link }} ==> {{ keyword.id }}
    </li>
  {{/each}}
</ul>
{{/if}}

